{{!-- ##################################################################### --}}

{{!-- <div class=""> --}}
<div class="container">
  <div class="row" style="min-height: 100vh;">
    <div class="col-7 col-md-4 col-lg-5 m-auto">
      <div class="card">
        <div class="card-body">
          <h4 class="text-center">{{title}}</h4>
          <p class="text-center">{{{message}}}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{{!-- </div> --}}