{{!-- ##################################################################### --}}

{{!-- <div class=""> --}}
<div class="container">
  <div class="row" style="min-height: 100vh;">
    <div class="col-7 col-md-4 col-lg-5 m-auto">
      <div class="card">
        <div class="card-body">
          <h4 class="text-center">¡Proceso de recuperación de contraseña iniciado!</h4>
          <p class="text-center">Se ha enviado un correo electrónico a</p>
          <p class="text-center">{{email}}</p>
          <p>Revisa tu bandeja de entrada y haz click sobre el enlace de recuperación
            para reiniciar tu contraseña.</p>
        </div>
      </div>
    </div>
  </div>
</div>
{{!-- </div> --}}