<div class="container-fluid">
    <div class="row">
        <div class="col-12 login-encabezado">
        </div>
    </div>
    <div class="row">
        <div class=" mx-auto" style="max-width: 400px;">
            <h4 class="card-title mt-3 text-center">Crea una Cuenta</h4>
            <p class="text-center">Empieza a recibir todos nuestros beneficios con tu nueva cuenta</p>
            {{#if error}}
                <p class="color-danger">{{message}}</p>
            {{/if}}
            <form id="signup" method="POST" action="/signup">
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-user-tag"></i> </span>
                    </div>
                    <input name="name" class="form-control" placeholder="Nombre" type="text">
                </div> <!-- form-group// -->
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-user-plus"></i> </span>
                    </div>
                    <input name="lastName" class="form-control" placeholder="Apellidos" type="text">
                </div> <!-- form-group// -->
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" style="padding-right:14px; padding-left:14px"> <i class="fa fa-envelope"></i> </span>
                    </div>
                    <input name="email" class="form-control" placeholder="Correo electrónico" type="email">
                </div> <!-- form-group// -->
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" style="padding-right:15px; padding-left:15px"> <i class="fa fa-lock"></i> </span>
                    </div>
                    <input class="form-control" placeholder="Escribe una contraseña" name="password" type="password">
                </div> <!-- form-group// -->
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" style="padding-right:15px; padding-left:15px"> <i class="fa fa-lock"></i> </span>
                    </div>
                    <input class="form-control" placeholder="Repite la contraseña" type="password">
                </div>
                <div class="form-group input-group">
                    <div class="form-check">
                        <input class="form-check-input" id="refugee" name="refugee" value="REFUGEE" type="checkbox">
                        <label class="form-check-label" for="refugee"> Represento a un refugio</label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success btn-block"> Crear cuenta </button>
                </div>
                <p class="text-center">¿Ya tienes una cuenta? <a href="/login">Inicia sesión</a> </p>
            </form>
        </div>
    </div>

</div> <!-- card.// -->

