{{!-- ##################################################################### --}}

{{!-- <div class=""> --}}
<div class="container">
  <div class="row" style="min-height: 100vh;">
    <div class="col-7 col-md-4 col-lg-5 m-auto">
      <div class="card">
        <div class="card-body">
          <h4>¡Pre-registro exitoso!</h4>
          <span>Se ha enviado un correo electrónico a</span>
          <span>{{email}}</span>
          <span>Revisa tu bandeja de entrada y haz click sobre el enlace de verificación</span>
          <span>para completar tu registro</span>
        </div>
      </div>
    </div>
  </div>
</div>
{{!-- </div> --}}