<h2>Agrega fotos de tu adoptable</h2>
    <form action="/adoptables/add" method="post" enctype="multipart/form-data">
        <h4>Agrega fotos de tu refugio:</h4>
        <input  type="file" name="photo">
        <input  type="submit" value="SAVE">
        <h4>Agrega fotos de tu adoptable:</h4>
        <label>Nombre</label>
        <input  type="text" name="name">

        <label>Especie</label>
        <input  type="text" name="specie">

        <label>Foto</label>
        <input  type="file" name="photo">
        <input  type="submit" value="SAVE">
    </form>