<div class="container-fluid">
    <div class="row">
        <div class="col-12 adopta-encabezado">

        </div>
    </div>
    <div class="row">
        <div class="col-md-5 texto-donativos" >

        <h1>Adopta</h1>

        <p>Con tu adopción no sólo estás ayudando al animal que adoptes sino también al que pueda ingresar en su lugar para ser cuidado por nosotros y ya no esté sufriendo en las calles.</p>

        <p>Entregamos a todos los animales completamente sanos, vacunados, desparasitados y esterilizados.</p>


        <br><br>
        <p>
            Conoce todas los requisitos de adopción:
        </p>



    </div>
        <div class="col-md-7 texto-contenido adopta-fondo-texto">

            <ul class="list-unstyled">
                <li>
                    <h3> <i class="fas fa-paw"></i>  Agenda una entrevista <a href="/cita" target="_blank">aquí</a></h3>
                    <ul>
                        <li class="lista-sm">Deberán asistir todos los miembros que habítan el domicilio</li>
                    </ul>


                </li>
                <li>
                    <h3> <i class="fas fa-paw"></i> Identificación oficial (original y copia)</h3>


                </li>
                <li>
                    <h3> <i class="fas fa-paw"></i> Comprobante de domicilio (no mayor a tres meses)</h3>

                </li>
                <li>
                    <h3> <i class="fas fa-paw"></i> Donativo monetario o en especie </h3>
                </li>
                <li>
                    <h3> <i class="fas fa-paw"></i> Aceptar los compromisos de cuidado </h3>

                </li>
                <li>
                    <h3> <i class="fas fa-paw"></i> Asistir con una correa para perro o transportadora para gato (según sea el caso).</h3>
                </li>
            </ul>

        </div>




    </div>

</div>
