<div class="container">

    <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">Conoce a nuestros adoptables!</h1>

    <hr class="mt-2 mb-5">

    <div class="row text-center text-lg-left">

  <!--      <div class="col-lg-3 col-md-4 col-6">
   // {{#each albergue.pets as |pet|}}
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="{{pet.photo.[0].url}}" alt="" data-toggle="modal" data-target="#exampleModalCenter">
            </a>


            &lt;!&ndash; Modal &ndash;&gt;
            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    &lt;!&ndash;Content&ndash;&gt;
                    <div class="modal-content">
                        &lt;!&ndash;Header&ndash;&gt;
                        <div class="modal-header">
                            <p class="heading lead">Conóceme!!</p>

                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true" class="white-text">×</span>
                            </button>
                        </div>

                        &lt;!&ndash;Body&ndash;&gt;
                        <div class="modal-body">
                            <div class="text-center">
                                <i class="fas fa-check fa-4x mb-3 animated rotateIn"></i>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit iusto nulla aperiam blanditiis ad
                                    consequatur
                                    in dolores culpa, dignissimos, eius non possimus fugiat. Esse ratione fuga, enim, ab officiis totam.
                                </p>
                            </div>
                            <img src="http://www.dogshomepa.org/wp-content/uploads/Rottie-leash.jpg"  class="img-fluid">

                        </div>

                        &lt;!&ndash;Footer&ndash;&gt;

                        <div class="modal-footer">
                            <a href="/cita"><button class="btn btn-primary">Quiero adoptar!</button></a>
                            <button class="btn btn-secondary" data-dismiss="modal">No, gracias :(</button>

                        </div>
                    </div>
                    &lt;!&ndash;/.Content&ndash;&gt;
                </div>
            </div>
        {{/each}}
        </div>-->


        <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="https://resources.stuff.co.nz/content/dam/images/1/6/4/6/p/a/image.related.StuffLandscapeSixteenByNine.710x400.19x6qk.png/1456220589690.jpg" alt="" data-toggle="modal" data-target="#exampleModalCenter">
            </a>
            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <!--Content-->
                    <div class="modal-content">
                        <!--Header-->
                        <div class="modal-header">
                            <p class="heading lead">Conóceme!!</p>

                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true" class="white-text">×</span>
                            </button>
                        </div>

                        <!--Body-->
                        <div class="modal-body">
                            <div class="text-center">
                                <i class="fas fa-check fa-4x mb-3 animated rotateIn"></i>
                                <p>Hola! yo puedo ser tu nuevo mejor amigo! Ven a conocerme
                                </p>
                            </div>
                            <img src="http://www.dogshomepa.org/wp-content/uploads/Rottie-leash.jpg"  class="img-fluid">

                        </div>

                        <!--Footer-->

                        <div class="modal-footer">
                            <a href="/cita"><button class="btn btn-primary">Quiero adoptar!</button></a>
                            <button class="btn btn-secondary" data-dismiss="modal">No, gracias :(</button>

                        </div>
                    </div>
                    <!--/.Content-->
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="https://resources.stuff.co.nz/content/dam/images/1/6/4/6/p/a/image.related.StuffLandscapeSixteenByNine.710x400.19x6qk.png/1456220589690.jpg" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="https://resources.stuff.co.nz/content/dam/images/1/6/4/6/p/a/image.related.StuffLandscapeSixteenByNine.710x400.19x6qk.png/1456220589690.jpg" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="https://resources.stuff.co.nz/content/dam/images/1/6/4/6/p/a/image.related.StuffLandscapeSixteenByNine.710x400.19x6qk.png/1456220589690.jpg" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="https://resources.stuff.co.nz/content/dam/images/1/6/4/6/p/a/image.related.StuffLandscapeSixteenByNine.710x400.19x6qk.png/1456220589690.jpg" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="https://resources.stuff.co.nz/content/dam/images/1/6/4/6/p/a/image.related.StuffLandscapeSixteenByNine.710x400.19x6qk.png/1456220589690.jpg" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="https://resources.stuff.co.nz/content/dam/images/1/6/4/6/p/a/image.related.StuffLandscapeSixteenByNine.710x400.19x6qk.png/1456220589690.jpg" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="https://resources.stuff.co.nz/content/dam/images/1/6/4/6/p/a/image.related.StuffLandscapeSixteenByNine.710x400.19x6qk.png/1456220589690.jpg" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="https://resources.stuff.co.nz/content/dam/images/1/6/4/6/p/a/image.related.StuffLandscapeSixteenByNine.710x400.19x6qk.png/1456220589690.jpg" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="https://resources.stuff.co.nz/content/dam/images/1/6/4/6/p/a/image.related.StuffLandscapeSixteenByNine.710x400.19x6qk.png/1456220589690.jpg" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="https://resources.stuff.co.nz/content/dam/images/1/6/4/6/p/a/image.related.StuffLandscapeSixteenByNine.710x400.19x6qk.png/1456220589690.jpg" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="https://resources.stuff.co.nz/content/dam/images/1/6/4/6/p/a/image.related.StuffLandscapeSixteenByNine.710x400.19x6qk.png/1456220589690.jpg" alt="">
            </a>
        </div>
    </div>

</div>

