<div class="container">
  <div class="offset-md-3 col-md-5 forma-contacto">
<h2>Contáctanos</h2>
  
<form action="/contacto" method="POST">

  <div class="form-group">
    <label for="name">Nombre(s)</label>
    <input type="text" class="form-control" id="name" aria-describedby="nameHelp" placeholder="Nombre(s)">
    </div>
     <div class="form-group">
    <label for="lastName">Apellidos</label>
    <input type="text" class="form-control" id="name" aria-describedby="lastNameHelp" placeholder="Apellidos">
    </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Correo electrónico</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Correo electrónico">
    <small id="emailHelp" class="form-text text-muted">Nunca compartiremos tu correo con alguien más.</small>
  </div>
  <div class="form-group">Numero telefónico</label>
  <input type="text" class="form-control" type="tel" value="+52-(555)-555-5555">
    
    </div>
   <div class="form-group">
    <label for="subject">Asunto</label>
    <select class="form-control" id="subject">
      <option>Información</option>
      <option>Donativos</option>
      <option>Adopciones</option>
      <option>Esterilizaciones</option>
    </select>
  </div>
   <div class="form-group">
    <label for="textarea">Mensaje</label>
    <textarea class="form-control" id="textarea" rows="3"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
</div>

