<div class="container-fluid">
    <div class="row">
        <div class="col-12 ">
            <img src="https://www.germantownvet.com/wp-content/uploads/2012/11/dogs-and-cats.jpg" class="img-fluid max-width: 100%" alt="">
        </div>
    </div>

</div>
