<div class="container-fluid">
    <div class="row">
        <div class="col-12 donaciones-encabezado">

        </div>
    </div>
    <div class="row">

        <div class="col-md-5 texto-donativos" >

            <h1>Donativos</h1>
            <p>
                Si estás interesado en sumarte a nuestra causa, hay muchas maneras de hacerlo.</p>
            <br><br>
            <p>
                Conoce todas las maneras en que puedes apoyarnos:
            </p>




    </div>
        <div class="col-md-7 texto-contenido texto-contenido-fondo">

            <ul class="list-unstyled">
                <li>
                    <h3> <i class="fas fa-paw"></i>  Depósito por Paypal:</h3>
                    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
                        <input type="hidden" name="cmd" value="_donations" />
                        <input type="hidden" name="business" value="lady_k0rn@hotmail.com" />
                        <input type="hidden" name="item_name" value="App-dopt-me" />
                        <input type="hidden" name="currency_code" value="MXN" />
                        <input type="image" src="http://www.pngall.com/wp-content/uploads/2016/05/PayPal-Donate-Button.png" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donar con el botón PayPal" />

                    </form>

                </li>
                <li>
                    <h3> <i class="fas fa-paw"></i> Depósito a cuenta bancaria:</h3>
                    <ul>
                        <li class="lista-sm">Banco: Blablamex</li>
                        <li class="lista-sm">Cuenta: 1212-1112-1233-1234</li>
                    </ul>

                </li>
                <li>
                    <h3> <i class="fas fa-paw"></i> Donativos en especie:</h3>
                    <ul>
                        <li class="lista-sm"> Medicinas, productos farmacéuticos y equipo médico</li>
                        <li class="lista-sm">Todo tipo de alimentos y accesorios para animales</li>
                        <li class="lista-sm">Material de estética</li>
                    </ul>

                </li>
                <li>
                    <h3> <i class="fas fa-paw"></i> Apadrina a un peludo </h3>

                </li>
                <li>
                    <h3> <i class="fas fa-paw"></i> Hogar temporal </h3>
                </li>
            </ul>

        </div>


    </div>

</div>
