body {
    padding-top: 60px;
    padding-left: 0px;
    padding-right: 0px;
    font-family: 'Cabin', sans-serif;
    background-color: #4ABDAC;
    color: white;
    height: auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

a{
    color: #F7B733;
}
a:hover{
    color: #FC4A1A;
    text-decoration: none;
}

footer{
    a {
            color: white;
        }
    a:hover{
    color: #F7B733;
    text-decoration: none;
        }
    }



.btn-link{
        color: #ced4da;
    text-decoration: none;
}
.btn-link:visited{
    color: #ced4da;
    text-decoration: none;
}
.btn-link:hover{
    color: white;
    text-decoration: none;
}


.btn-success:disabled{
    background-color: #F7B733;
    border: none;
}
.btn-success{
    background-color: #F7B733;
    border: none;
}
.btn-success:hover{
background-color: #ffbd35;
    border: none;
}
.btn-primary {
    background-color: #F7B733;
    border: none;
}
.footer-logo{
    display: flex;
    align-self: center;
    justify-content: center;
}
.contacto-fondo-texto{
    background-image: url("/images/heatset-dog.jpg");
    background-position: right bottom, left ;
    background-repeat: no-repeat, repeat;

}
.adopta-fondo-texto{
    background-image: url("/images/dog-cat-bg.jpg");
    background-position: right bottom ;
    background-repeat: no-repeat, repeat;
}

.forma-contacto{
    padding: 50px 60px;
    background-color: #4eb1d2;
}

.texto-contenido-fondo{
    background-image: url("/images/cat-sm.jpg");
    background-position: right bottom, left ;
    background-repeat: no-repeat, repeat;
}
.texto-contenido{

    text-align: justify;
    background-color: #ffffff;
    font-size: 1.5rem;
    color: #595959;
    padding: 100px 40px;
}
.texto-donativos{
    text-align: justify;
    font-size: 1.5rem;
    color: #ffffff;
    padding: 100px 40px;
}

.texto-lista{
    padding: 20px 70px ;
    text-align: justify;
    font-size: 1.2rem;
    color: #ffffff;
}
.list-unstyled{
    li{
        padding: 10px;
    }
}
.lista-sm{
    font-size: 1.2rem;
}
.fa-paw{
    font-size: 16px;
    padding-bottom: 5px;
}


.card-header {
    padding: 5px 15px;
    color: #595959;
}


.profile-img {
    width: 96px;
	height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.navbar-custom {
    background-color: #FC4A1A;
}
.navbar-dark .navbar-nav .nav-link {
    color: #ffffff;
    font-size: 1.2rem;
}

.carousel-inner{
    width: 100vw;
    height: 50vh;
}
.carousel-item{
    margin: 0 auto;
}
.modal-content{
    color: #595959;
}

.card-body{
    background-color: #f0f0f0 ;
    color: #595959;
}

.card-deck{
    padding: 30px 0px;
}
.card-footer{
    background-color: #F7B733 ;
    color:  #4ABDAC;
}

footer{
  background-color: #114B5F;
    margin-top: auto;
  }


.footer-redes-icon{
    width: 40px;
    height: auto;
   }

#map {
    margin: 0 auto;
    padding: 40px 0px;
    color: #595959;
}
.mapboxgl-ctrl-top-right {
    margin: 50px 10px 0 0;
    float: right;
}

.fecha-picker{
    flex-wrap: nowrap;
}

.login-encabezado {
    padding-top: 50px;
    background-image: url("https://lawson.appfoliowebsites6.com/wp-content/uploads/sites/6306/2017/09/Dog-email.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
    background-position: 50% 50%;
}
.cita-encabezado{
    padding-top: 50px;
    background-image: url("http://mondoblog.org/wp-content/uploads/2017/11/295915277_f71d0aaa99_b.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
    background-position:50% 60%;
}
.perfil-encabezado{
    padding-top: 50px;
    background-image: url("https://www.nirvanatails.com/uploads/8/3/4/4/83446752/cat-and-dog-with-grass_1_orig.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
    background-position:50% 60%;
}

.agenda-cita{
    padding: 100px;
}
.donaciones-encabezado{
    background-image: url("https://cdn.mos.cms.futurecdn.net/yJbkm6eEvvzY2mqmUohppm.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 45vh;
    background-position:50% 50%;
}

.contacto-encabezado{
    background-image: url("http://www.hslcnm.org/wp-content/uploads/2014/03/dog-cat-on-grass.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 45vh;
    background-position:50% 90%;
}

.adopta-encabezado{
    background-image: url("https://images-i.jpimedia.uk/imagefetch/c_fill,f_auto,h_1209,q_auto:eco,w_1700/https://inews.co.uk/wp-content/uploads/2018/04/Screen-Shot-2018-04-24-at-14.13.56.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 45vh;
    background-position:50% 50%;
}
.forget-pwd > a{
    color: #dc3545;
    font-weight: 500;
}
.forget-password .panel-default{
    padding: 31%;
    margin-top: -27%;
}
.forget-password .panel-body{
    padding: 15%;
    margin-bottom: -50%;
    background: #fff;
    border-radius: 5px;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btnForget{
    background: #c0392b;
    border:none;
}
.forget-password .dropdown{
    width: 100%;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}
.forget-password .dropdown button{
    width: 100%;
}

.forget-password .dropdown ul{
    width: 100%;
}

