body {
    padding-top: 60px;
    padding-left: 0px;
    padding-right: 0px;
    font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
    background-color: #4ABDAC;
    color: white;
    height: auto;
}

a {
    color: white;
}
a:hover{
    color: #F7B733;
    text-decoration: none;
}
.btn-success:disabled{
    background-color: #ca952d;
    border: none;
}
.btn-success{
    background-color: #F7B733;
    border: none;
}
.btn-success:hover{
background-color: #ffbd35;
    border: none;
}
.btn-primary {
    background-color: #F7B733;
    border: none;
}
.footer-logo{
    padding: 20px;
}
.forma-contacto{
    padding-top: 50px;
}
.card-header {
    padding: 5px 15px;
}

.profile-img {
    width: 96px;
	height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.navbar-custom {
    background-color: #FC4A1A;
}
.carousel-inner{
    width: 100vw;
    height: 50vh;
}
.carousel-item{
    margin: 0 auto;
}

.card-body{
    background-color: #f0f0f0 ;
    color: #595959;
}

.card-deck{
    padding: 30px 0px;
}
.card-footer{
    background-color: #F7B733 ;
    color:  #4ABDAC;
}

footer{
  background-color: #c24523;
  justify-content: flex-end;
}

#map {
    margin: 0 auto;
    padding: 40px 0px;
    color: #595959;
}
.mapboxgl-ctrl-top-right {
    margin: 50px 10px 0 0;
    float: right;
}

.forget-pwd > a{
    color: #dc3545;
    font-weight: 500;
}
.forget-password .panel-default{
    padding: 31%;
    margin-top: -27%;
}
.forget-password .panel-body{
    padding: 15%;
    margin-bottom: -50%;
    background: #fff;
    border-radius: 5px;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btnForget{
    background: #c0392b;
    border:none;
}
.forget-password .dropdown{
    width: 100%;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}
.forget-password .dropdown button{
    width: 100%;
}

.forget-password .dropdown ul{
    width: 100%;
}

