{{!-- Emmet:=> form:post[action=/create]>label[for=title]{Title}+input:text+label[for=body]{Body}+textarea[name=body]+input[type=submit][value=Create] --}}
<form action="/create" method="post">
  <label for="title">Title</label>
  <input type="text" name="" id="">
  <label for="body">Body</label>
  <textarea name="body" id="body" cols="30" rows="10"></textarea>
  <input type="submit" value="Create">
</form>